/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/imagenes
/public/storage
/storage/*.key
/storage/logs/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/storage/debugbar/*
/storage/telescope/*
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/storage/pail
/vendor
.env
.env.*
!.env.example
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
pnpm-debug.log*
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

# OS junk
.DS_Store
Thumbs.db

# Misc
/coverage
/dist
